@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/ahcdv8Cj3ylylTXzTOwTM_l2pUw.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/ahcev8Cj3ylylTXzTOwTn-hhgmy4.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/ahcev8Cj3ylylTXzTOwT--thgmy4.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ahcbv8Cj3ylylTXzTOwbUMlx.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/ahcev8Cj3ylylTXzTOwTo-phgmy4.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/ahcev8Cj3ylylTXzTOwTj-1hgmy4.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ahcev8Cj3ylylTXzTOwT6-xhgmy4.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/ahcev8Cj3ylylTXzTOwT9-9hgmy4.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/ahcev8Cj3ylylTXzTOwT0-5hgmy4.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/ahcbv8Cj3ylylTXzRIobUMlx.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/ahccv8Cj3ylylTXzRCYKR-5RhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/ahccv8Cj3ylylTXzREIJR-5RhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ahcZv8Cj3ylylTXzTOkrVw.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/ahccv8Cj3ylylTXzRBoIR-5RhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/ahccv8Cj3ylylTXzRDYPR-5RhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ahccv8Cj3ylylTXzRFIOR-5RhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/ahccv8Cj3ylylTXzRE4NR-5RhQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/ahccv8Cj3ylylTXzRGoMR-5RhQ.ttf) format('truetype');
}
